<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Stellar Nexus</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!--Content-->
    <div class="content-wrapper">
        <%- include('../partials/sidebar-left') %>

        <div class="main-content">
            

            <div class="postform-container">

                <h1>Edit Post</h1>
                
                
                <form id="postform" action="/posts/<%=post._id%>/edit" method="POST">
                    <div id="editpost-community">Community: <a href="#" class="post-community">
                        <%=post.community%>
                    </a></div>
                    <label for="addpost-title-input">Post Title</label>
                    <input required type="text" id="addpost-title-input" name="title" value="<%=post.title%>">
                    
                    
                    
                    <label for="addpost-description-input">Post Description</label>
                    <textarea required id="addpost-description-input" name="description"><%=post.description%></textarea>
                    
                    <button type="submit">Edit Post</button>
                </form>
            </div>
        </div>

        <%- include('../partials/sidebar-right') %>
          

    </div>
   
</body>
</html>