<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Stellar Nexus</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!--Content-->
    <div class="content-wrapper">
        <%- include('../partials/sidebar-left') %>

        <div class="main-content">
            <div class="post-container" data-post-id="<%=post._id%>">
                <div class="highlighted-post">
                    <div class="post-author">
                        <img src="<%= post.author.avatar %>">
                        <a href="/users/<%=post.author.userID%>"><%=post.author.username%></a>
                        <div class="post-time"><%=timeAgo(post.createdAt)%></div>
                    </div>
                    <div class="post-title">
                        <h1>
                            <%=post.title%>
                        </h1>

                        <% if (post.editedPost) { %>
                            <span style="color: rgb(77, 77, 77)">(Edited)</span>
                        <% } %>
                    </div>               

                    <div class="post-desc">
                        <%=post.description%>
                    </div>
                    <div class="post-item-bottom">
                        <div class="post-score">
                            <% if (loggedUser) { %>
                                <!--can upvote-->
                                <a href="#" id="upvote-<%= post._id %>" class="vote-btn" data-post="<%= post._id %>" data-vote="up">
                                    <img src="<%= post.userVote === 1 
                                        ? '/images/ticked-upvote.png' 
                                        : '/images/upvote.png' 
                                        %>" alt="upvote" />
                                    </a>
                                <!--live vote count-->
                                <span id="score-<%= post._id %>"><%= post.score %></span>
                                <!--can downvote-->
                                <a href="#" id="downvote-<%= post._id %>" class="vote-btn" data-post="<%= post._id %>" data-vote="down">
                                    <img src="<%= Number(post.userVote) === -1 ? '/images/ticked-downvote.png' : '/images/downvote.png' %>" alt="downvote" />
                                </a>
                            <!--Logged Out when voting-->
                            <% } else { %>
                                <!--asked to login-->
                                <a href="#" onclick="showLogin(); return false;">
                                    <img src="/images/upvote.png" alt="upvote"/></a>
                                <!--live vote count-->
                                <span id="score-<%= post._id %>"><%= post.score %></span>
                                <!--asked to login-->
                                <a href="#" onclick="showLogin(); return false;">
                                    <img src="/images/downvote.png" alt="downvote" /></a>
                            <% } %>
                        </div>


                        <a href="/c/<%=post.community%>" class="post-community">
                            <%= post.community %>
                        </a> 

                        
                        <% if (loggedUser) if (post.author.userID === loggedUser.userID) { %>
                            <div class="more-settings">
                                <img src="/images/More Settings.png" alt="more-settings">
                                <div class="more-settings-dropdown">
                                    <a href="/posts/<%=post._id%>/edit">Edit</a>
                                    <form action="/posts/<%= post._id %>/delete" method="POST" >
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <% if (loggedUser) {%>
                    <form method="POST" action="/comments">
                        <input type="hidden" name="post" value="<%=post._id%>">
                        <textarea class="comment-box" name="comment" placeholder="Add a comment"></textarea>
                        <button type="submit" id ="submit">Submit</button>
                    </form>
                    <% } %>

                    <!-- <div class="sort-comments">
                        <span>Sort by:
                        <select class="sort-comments-select">
                            <option value="Best">Best</option>
                            <option value="Recent">Recent</option>
                        </select></span> 
                    </div> -->


                    <!--Primary Comments in Post  use class="comment-item" when it is a primary comment-->
                    <% function renderComments(comments, parentId) { %>
                        <% comments.forEach(comment => { %>
                            <% if (parentId === null && !comment.parent) {%>
                            <div class="comment-container">
                            <% } %>
                            <% if ((parentId === null && !comment.parent) || (comment.parent && parentId && comment.parent.toString() === parentId.toString())){ %>
                            <div class="comment-item" id="comment-<%= comment._id %>">
                                <div class="post-author">
                                    <img src="<%= comment.author.avatar %>">
                                    <a href="/users/<%=comment.author.userID%>"><%= comment.author.username %></a>
                                    <div class="post-time"><%= timeAgo(comment.createdAt) %></div>
                                </div>
                                <div class="comment-spacing">
                                    <div class="comment-desc">
                                        <% if (comment.commentEdited ) { %>
                                            <div style="color: #7b7b7b">(Edited)</div>
                                            <%  } %>
                                    <%= comment.body %>
                                    

                                    </div>
                                    <div class="post-item-bottom">
                                    <div class="comment-score">
                                      
                                            <% if (loggedUser) { %>
                                                <!--can upvote-->
                                                <a href="#" id="upvote-<%= comment._id %>" class="vote-btn-comment" data-comment="<%= comment._id %>" data-vote="up">
                                                    <img src="<%= comment.userVote === 1 
                                                        ? '/images/ticked-upvote.png' 
                                                        : '/images/upvote.png' 
                                                        %>" alt="upvote" />
                                                    </a>
                                                <!--live vote count-->
                                                <span id="score-<%= comment._id %>"><%= comment.score %></span>
                                                <!--can downvote-->
                                                <a href="#" id="downvote-<%= comment._id %>" class="vote-btn-comment" data-comment="<%= comment._id %>" data-vote="down">
                                                    <img src="<%= Number(comment.userVote) === -1 ? '/images/ticked-downvote.png' : '/images/downvote.png' %>" alt="downvote" />
                                                </a>
                                            <!--Logged Out when voting-->
                                            <% } else { %>
                                                <!--asked to login-->
                                                <a href="#" onclick="showLogin(); return false;">
                                                    <img src="/images/upvote.png" alt="upvote"/></a>
                                                <!--live vote count-->
                                                <span id="score-<%= comment._id %>"><%= comment.score %></span>
                                                <!--asked to login-->
                                                <a href="#" onclick="showLogin(); return false;">
                                                    <img src="/images/downvote.png" alt="downvote" /></a>
                                            <% } %>
                                     
                                    </div>

                                    <% if (loggedUser) {%>
                                        <div class="reply-btn" data-comment-id="<%= comment._id %>">
                                            <div class="comment-item-pic">
                                            <img src="/images/Comments.png" alt="icon">
                                            <p>Reply</p>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (loggedUser) if (comment.author.userID === loggedUser.userID) { %>
                                        <div class="more-settings">
                                            <img src="/images/More Settings.png" alt="more-settings">
                                            <div class="more-settings-dropdown">
                                                <a href="/comments/<%=comment._id%>/edit">Edit</a>
                                                <form action="/comments/<%= comment._id %>/delete" method="POST" >
                                                    <button type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>

                                
                                <!-- Container for nested replies -->
                                <div class="reply2-item">
                                    <% renderComments(comments, comment._id); %>
                                </div>
                            </div>
                           <% } %>
                           
                           <% if (parentId === null && !comment.parent) {%>
                           </div>
                            <% } %>
                        <% }); %>
                    <% } %>
                                
                    <!-- Render All Comments (Call the Recursive Function) -->
                    <% renderComments(comments, null); %>
                    
                </div>


            </div>
        </div>

        <%- include('../partials/sidebar-right') %>

    </div>

    <!-- Reply Form (Hidden by Default) -->
    <form id="replyForm" class="hidden" method="POST" action="/comments">
        <input type="hidden" name="post" value="<%=post._id%>">
        <input type="hidden" name="parent" id="parentId">
        <textarea name="comment" placeholder="Write your reply"></textarea>
        <button type="submit">Submit Reply</button>
    </form>
    
    <script src="/js/reply.js"></script>
</body>


</html>